<launch>
	<include file="$(find zed_cpu_ros)/launch/image_proc.launch"/>
	<group ns="camera">
		<node pkg="nodelet" type="nodelet" name="depth_nodelet_manager"  args="manager"/>
	    <node pkg="nodelet" type="nodelet" name="disparity" args="load stereo_image_proc/disparity depth_nodelet_manager"/>
	    <node pkg="nodelet" type="nodelet" name="depth" args="load rtabmap_ros/disparity_to_depth depth_nodelet_manager"/>
	</group>

</launch>