<launch>
<arg name="config_file_location" default="$(find zed_cpu_ros)/config/SN1267.conf"/>
<arg name="camera_namespace" default="camera"/>

<node pkg="zed_cpu_ros" type="zed_cpu_ros" name="zed_cpu_ros_node" output="screen" ns="$(arg camera_namespace)">
	<param name="resolution" value="1"/>
	<param name="frame_rate" value="30"/>
	<param name="config_file_location" value="$(arg config_file_location)"/>
	<param name="show_image" value="false"/>
	<param name="left_frame_id" value="left_camera"/>
	<param name="right_frame_id" value="right_camera"/>
</node>
</launch>
